<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Notifikasi"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/unand"
        android:label="@string/kpunand"
        android:roundIcon="@drawable/unand"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kpunand"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.KpunandNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ListUsulanKPActivity"
            android:exported="false" />
        <activity
            android:name=".DetailUsulanKPActivity"
            android:exported="false" />
        <activity
            android:name=".ListMahasiswaKPActivity"
            android:exported="false" />
        <activity
            android:name=".DetailMahasiswaKPActivity"
            android:exported="false"/>
        <activity
            android:name=".DataPembimbingActivity"
            android:exported="false"/>
        <activity
            android:name=".TambahPembimbingKPActivity"
            android:exported="false"/>
        <activity
            android:name=".SeminarKPActivity"
            android:exported="false"/>
        <activity
            android:name=".PembatalanKPActivity"
            android:exported="false"/>
        <activity
            android:name=".ListLogbookActivity"
            android:exported="false" />
        <activity
            android:name=".DetailLogbookActivity"
            android:exported="false" />
        <activity
            android:name=".ListLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".DetailLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".InstansiActivity"
            android:exported="false" />
    </application>

</manifest>